.donation{
	position: fixed;
	right: 20px;
	top: 100px;
	width: 180px;
	color: LightGray;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.donation form input{
	cursor: pointer;
}



