#nav_home{
	font-size: 105%;
	font-style: italic; 
}

section{
	font-size: 110%;
}


.education_title, .work_title, .intern_title, .research_title, .teaching_title, .contact_title{ /* category title */
	
}

/* table based education, work experience, internship only*/
.education_table, .work_table, .intern_table{
	border-spacing: 10px 5px;
	margin-top: -15px;
	padding-left: 10px;
	padding-top: 5px;
}

.degree_row{
}

/* table based education, work experience, internship only*/
.university_row, .company_row{
	margin-left: 15px;
	font-style: italic;
	vertical-align: top;
	color: LightBlue;
}

/* supervisor row */
.supervisor_row{
	color: DarkGray;
	vertical-align: top;
	font-size: 95%;
	height: 40px;
}

/* duration */
.duration{
	font-style: normal;
	font-size: 90%;
	text-align: center;
}

.work_table .duration{
	font-size: 105%;
}

/* supplement for research assistant */
.supplement{
	font-style: normal;
}

.supervisor_name{
	font-size:120%;
	color: #b3602a; /* dark orange */
}

/* <p> based research topics only */
.research_block, .teaching_block{
	display: inline-block;
	margin-top: -15px;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 20px;
	vertical-align: top;
}

/* list based contact me only */
.contact_list{
	display: inline-block;
	list-style-type: none;
	margin-top: -20px;
	padding-top: 10px;
	padding-right: 10px;
}

.contact_list li{
	margin-left: -15px;
	height: 30px;
}

.contact_label{ /* label for contact list */
	color: DarkKhaki;
}

/* let first element hightlight */
table tr td:first-of-type{
	color: DarkKhaki;
}


