#nav_publications{
	font-size: 105%;
	font-style: italic; 
}

section{
	font-size: 105%;
	max-width: 1400px;
}

.conference_list, .journal_list{
	counter-reset: li;
	display: inline-block;
	margin-top: -15px;
	padding-top: 15px;
	padding-right: 15px;
	list-style-type: none;
}

.conference_list{
	width: 1000px;
}

.journal_list{
	width: 900px;
}

.review_list, .member_list{
	display: inline-block;
	padding-right: 15px;
	margin-top: -15px;
	padding-top: 15px;
	list-style-type: none;
	padding-bottom: 15px;
}

.review_list li, .member_list li{
	line-height: 150%;
}

.review_list li::before, .member_list li::before{
	content: " * ";
	color: DarkKhaki;
	font-size: 120%;
}

.conference_list li, .journal_list li{
	counter-increment: li;
	line-height: 150%;
}

.conference_list li::before, .journal_list li::before{
	content: counter(li) " . ";
	color: DarkKhaki;
	font-size: 120%;
}

/* publisher abbrevation */
.publisher_abbr{
	color: DarkMagenta;
}

/* add [] */
.publisher_abbr::before{
	content: "[";
	color: DarkOliveGreen;
	font-weight: bold;
}
.publisher_abbr::after{
	content: "] ";
	color: DarkOliveGreen;
	font-weight: bold;
}

/* author */
.author{
	margin-left: 10px;
	color: BurlyWood;
}

/* me author */
.meAuthor{
	font-style: italic;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

/* paper title */
.paper_title{
	margin-left: 30px;
	line-height: 30px;
	display: block;
	font-style: italic;
	font-size: 110%;
}

/* publisher */
.publisher{
	margin-left: 30px;
}

.publisher, .page_number, .conference_location, .date, .vol_number, .issue_number, .doi{
	font-size: 95%;
	color: DarkGray;
	vertical-align: text-top;
}

.review_date, .member_date{
	color: DarkGray;
}

.page_number::before{
	content: ", pp. ";
	font-style: italic;
}

.vol_number::before{
	content: ", vol. ";
	font-style: italic;
}

.issue_number::before{
	content: ", no. ";
	font-style: italic;
}

.doi::before{
	content: ", DOI: ";
	font-style: italic;
}

.conference_location::before, .date::before{
	content: ", ";
}

.download{
	margin-left: 30px;
	margin-top: 10px;
	padding-bottom: 15px;
	vertical-align: text-bottom;
}

.pdf, .slides, .video, .award{
	text-decoration: none;
	color: DarkSlateBlue;
	margin-right: 10px;
}

.award_title{
	padding-left: 1px;
	color: DarkOrange;
}

.review_name::after, .member_name::after{
	content: ": ";
}

/* dtcGoogleCitation */
.citation{
	float: right;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: LightGray;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top:10px;
	color: Grey;
}

.citation>p{
	font-size: 90%;
	margin-top: 8px;
	margin-bottom: 0px;
}

.citation_count{
	text-align: center;
	font-size: 20px;
	color: LightGray;
	padding-bottom: 0px;
}
