body{
	background-color: black;
	font-size: 16px;
	font-family: Georgia, serif;
	color: DarkCyan;
}

section{
	margin-left: 30px;
}

#content_start{
	margin-top: 150px;
}


.bar_top{ /* horizontal bar at the top */
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: DarkGray;
}

.header_title{
	color: CadetBlue;
}

.hide_credit{
	display: none;
}