body{
	background-color: white;
	font-size: 16px;
	font-family: Georgia, serif;
	color: Black;
}

section{
	margin-left: 30px;
}

#content_start{
	margin-top: 80px;
}

.bar_top{ /* horizontal bar at the top */
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: DarkGray;
}

.hide_credit{
	display: none;
}
